MARIADB_HOST=express-api-ts-mariadb
MARIADB_USER=xxx
MARIADB_PASSWORD=xxx
MARIADB_DATABASE=xxx
DATABASE_URL="mysql://$MARIADB_USER:$MARIADB_PASSWORD@$MARIADB_HOST:3306/$MARIADB_DATABASE?serverVersion=5.7"